<div class="container">
  <h1 class="title">Dog Facts</h1>
  <div class="input-container">
    <label for="numberOfFacts">Number of Facts:</label>
    <input
      type="number"
      id="numberOfFacts"
      [(ngModel)]="numberOfFacts"
      min="1"
      max="1000"
    />
    <button class="fetch-button" (click)="fetchDogFacts()">
      Fetch Dog Facts
    </button>
  </div>

  <ul *ngIf="dogFacts.length > 0" class="fact-list">
    <li *ngFor="let fact of dogFacts; let i = index" class="fact-item">
      <a [routerLink]="['/details', i]" class="fact-link">{{ fact }}</a>
    </li>
  </ul>
</div>
